<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="../image/weather.png">
    <link rel="stylesheet" href="../css/style.css">
    <title>About</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="../image/profile.png">
    </div>
    <p>{{>footer}}</p>
</body>
</html>